.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(3, 7, 30);
  color: rgb(241, 245, 249);
}

.bgBlur1 {
  pointer-events: none;
  position: absolute;
  left: -8rem;
  top: 0;
  height: 24rem;
  width: 24rem;
  border-radius: 50%;
  background-color: rgba(59, 130, 246, 0.2);
  filter: blur(140px);
}

.bgBlur2 {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 10rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: rgba(168, 85, 247, 0.2);
  filter: blur(140px);
}

.bgBlur3 {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 33.33%;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color: rgba(251, 146, 60, 0.2);
  filter: blur(140px);
}

.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 72rem;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}
