.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtext {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: rgb(148, 163, 184);
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}

.description {
  color: rgb(148, 163, 184);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1.1fr 1.9fr;
  }
}
